
img{
   width: inherit;
   height: auto;
}

.products-list-container {
   padding: 100px 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: var(--bodyColor);
}

.products-list-container.fixed {
   position: fixed;
}